  /* 
  CSS CVWEBLUCAS_

  ©Copyright  2022  Barraillé Lucas
  
  START_ROOT
 */

  :root {
    --pal5-background-color: rgb(0, 0, 0);
    --pal4-background-color: rgba(0, 0, 0, 0.527);
    --pal3-background-color: #6363637c;
    --pal2-background-color: rgba(126, 126, 126, 0.623);
    --pal1-background-color: rgb(255, 255, 255);
    --color1: #f8c67c80;
    --vin: #b8af00;
    --qua: #e17055;
    --soixante: rgb(22, 152, 2);
    --quvin: blue;
    --centt: rgb(186, 0, 183);
    --gradient: linear-gradient(250deg, #000000, rgb(32, 32, 32), rgb(80, 80, 80));
  }

  body {
    min-height: 100%;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 20s infinite;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    width: auto;
  }

  html {
    scroll-behavior: smooth;
  }

  .Title_ {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
  }

  /*
  END_ROOT
 


  START_NAVBAR
  */

  .nav {
    height: 4.375rem;
    width: 100%;
    background-color: var(--pal3-background-color);
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid rgb(121, 114, 103);
    backdrop-filter: blur(6px);
  }

  .nav_long {
    display: flex;
    justify-content: center;
    height: 0px;
  }

  .nav_long_Logo {
    width: 4rem;
    height: 100%;
  }

  .nav_long_svg-wrapper {
    position: relative;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 200px;
    text-align: center;
    opacity: 1;
    transition: 1s;
    top: -40px;
    height: 30px;
  }

  .nav_long_shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #ffbb00;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }

  .nav_long_lien {
    text-decoration: none;
  }

  .nav_long_text {
    font-family: 'Roboto Condensed';
    font-size: 1.2rem;
    line-height: 32px;
    letter-spacing: 8px;
    padding-left: 10px;
    color: #fff;
    top: -46px;
    position: relative;
    text-decoration: none;
    margin-top: 1px;
  }

  .nav_long_text2 {
    font-family: 'Roboto Condensed';
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 8px;
    padding-left: 10px;
    color: #fff;
    top: -40px;
    position: relative;
    text-decoration: none;
    margin-top: 1px;
  }



  .nav_long_svg-wrapper:hover {
    opacity: 1.5;
    transition: 1s;
    color: #ffffff;
  }

  .nav_long_svg-wrapper:hover .nav_long_shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  }


  .nav_Small_Logo {
    width: 2.5rem;
    height: 100%;
    position: absolute;
    left: 0%;
  }

  .nav_Small {
    background-color: var(--pal3-background-color);
    border-bottom: 1px solid rgb(121, 114, 103);
    height: 4.375rem;
    width: 100%;
    position: fixed;
    display: none;
    visibility: hidden;
  }

  .nav_Small_Picture {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  .nav_Small_Picture a {
    border: 1px solid transparent;
    transition: 0.5s;
    margin: 5%;
    align-items: center;
    display: flex;
  }

  .nav_Small_Picture a:hover {
    background-color: #91793f93;
    border-radius: 0.3rem;
    border: 0.5px solid rgba(255, 255, 255, 0.596);
    transition: 1s;
  }

  .Nav_Small_P1 {
    height: 1.8rem;
    width: 1.8rem;
  }

  .Nav_Small_P2 {
    height: 1.8rem;
    width: 1.8rem;
  }

  .Nav_Small_P3 {
    height: 1.8rem;
    width: 1.8rem;
  }

  /* 
  END_NAVBAR
  
  
                                                  START_BODY
  

  START_HOME
  */


  #Home {
    height: 100vh;
    background-image: url(ezgif.com-gif-maker.gif);
    background-position: center;
    flex-direction: column;
  }

  .D_Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10%;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;

  }

  .Home_D4_D1 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .Home_D2 {
    margin-bottom: 1rem;
    font-size: 32px;
  }

  .content {
    align-items: center;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 
  END_HOME
  

  
  START_Presen
  */

  .D_Presen {
    position: absolute;
    font-size: 1.5rem;
    color: var(--color1);
    border-bottom: 1px solid rgb(255, 255, 255);
    bottom: 1rem;
    left: 1rem;
    padding: 0.8rem;
  }

  .Presen_D1 {}

  .Presen_D1_D {
    text-align: right;
  }

  .Presen_D1_D2 {
    text-align: left;
    color: white;
  }

  /* 
  END_Presen
  

  
  START_Pro_Exp
  */

  #Pro_Exp {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-position: center;
    width: 100%;
    margin-top: 20%;
  }

  .D_Pro {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .Pro_C {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
  }

  .Pro_D2 {
    background-color: var(--pal4-background-color);
    border: 0.5px solid rgba(255, 255, 255, 0.596);
    height: fit-content;
    margin: 1%;
    padding: 1%;
    border-radius: 0.5rem;
  }

  #Pro_Text2 {
    height: auto;
    text-align: center;
    font-size: 1rem;
    color: white;
  }

  .Pro_D3 {
    background-color: var(--pal4-background-color);
    border: 0.5px solid rgba(255, 255, 255, 0.596);
    height: fit-content;
    margin: 1%;
    padding: 0.5%;
  }

  #Pro_Title_M {
    color: rgba(16, 194, 96, 0.432);
    font-size: 1rem;
  }

  .Pro_D4 {
    background-color: var(--pal4-background-color);
    border: 0.5px solid rgba(255, 255, 255, 0.596);
    height: fit-content;
    margin: 1%;
    padding: 0.5%;
  }

  #Pro_Title {
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
    color: #f8c67c80;
  }

  #Pro_Text {
    height: auto;
    text-align: justify;
    font-size: 1rem;
    color: white;
  }

  #Pro_Table {
    padding: 5px;
    height: 80px;
  }

  #Pro_Table table {
    border-collapse: collapse;
  }

  #Pro_Table td {
    border: 2px solid var(--pal2-background-color);
    padding: 2px;
    text-align: left;
    font-size: 0.9rem;
  }

  #Pro_Title_M {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }

  .D_Profi {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--pal4-background-color);
    padding: 2rem 8rem 2rem 8rem;
    border-bottom: 1px solid beige;
  }

  .Profi_D2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
  }

  #Profi_progess p {
    font-size: 10px;
    color: white;
    padding: 4px;
  }

  .Profi_D1 div {
    padding: 4px;
  }

  .Profi_D1 {
    width: fit-content;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    color: white;
    font-size: 13px;
  }

  #Profi_D2_D {
    padding: 10px;
    max-width: fit-content;
    color: #eee;
  }

  .Profi_D2_progressbar {
    background-color: #bdc2c4;
    color: white;
    width: 100px;
    height: 20px;
  }

  .Profi_D2_D_Text {
    font-size: 16px;
  }

  #Profi_progess {
    height: 20px;
    font-size: 10px;
  }

  .Profi_Progress_1 {
    background-color: rgb(221, 88, 0);
    width: 60%;
  }

  .Profi_Progress_2 {
    background-color: rgb(201, 40, 0);
    width: 60%;
  }

  .Profi_Progress_3 {
    background-color: rgb(201, 40, 0);
    width: 60%;
  }

  .Profi_Progress_4 {
    background-color: rgb(219, 106, 0);
    width: 40%;
  }

  .Profi_Progress_5 {
    background-color: rgb(219, 0, 208);
    width: 100%;
  }

  .Profi_Progress_6 {
    background-color: rgb(219, 106, 0);
    width: 40%;
  }

  .Profi_Progress_7 {
    background-color: rgb(201, 40, 0);
    width: 60%;
  }

  .Profi_Progress_8 {
    background-color: rgb(219, 106, 0);
    width: 40%;
  }

  .Profi_Progress_9 {
    background-color: rgb(201, 40, 0);
    width: 60%;
  }

  .Profi_Progress_10 {
    background-color: rgb(0, 95, 219);
    width: 80%;
  }


  /* 
  END_Pro_Exp
  
  
  START_PERSO
  */

  #Perso_Exp {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }

  .D_Perso {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    max-width: 800px;

  }

  .Perso_D2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .Perso_Tableau {
    text-align: center;
    height: 20px;
    padding: 10px;
    color: white;
  }

  .Perso_D2_D {
    padding: 10px;
    border: 2px solid var(--pal2-background-color);
    background-color: rgba(179, 179, 179, 0.596);
    width: 200px;
    margin: 5px;
  }

  .Perso_C1 {
    background-color: rgba(0, 0, 0, 0.329);
    border: 2px solid rgb(155, 117, 68);
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    text-align: center;
    color: white;
  }

  .Perso_D3 {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Perso_D3_D1 {
    margin-bottom: 20px;
    color: white;
  }

  .Perso_D3_D2 {
    background-color: var(--pal3-background-color);
    width: fit-content;
    color: white;
    padding: 10px;
    border: 1px solid black;
  }

  .Back-nav {
    width: 98%;
    background-color: #424242;
    border-top: 2px solid white;
    height: 20px;
    padding: 10px;
    color: #ffffff;


  }

  .Back-nav span {
    color: #b66b16;
    margin-top: 4px;
  }


  /* 
  END_PERSO

  
                                                   OTHER
  
  */

  #scrollUp {
    position: fixed;
    bottom: 0px;
    right: 10px;
    opacity: 0.5;
    transition: 1s;
  }

  #scrollUp img {
    height: 30px;
    width: 30px;
  }

  #scrollUp:hover {
    opacity: 1;
    transition: 1s;
  }

  .icone {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--pal2-background-color);
    box-sizing: border-box;
    height: 120%;
    width: 100%;
    background-color: rgb(48, 48, 48);
    z-index: 1;
    animation-delay: 4s;
  }

  .index_Welcome button {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e17055;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    transition: 0.5s;
  }

  .index_Welcome a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  .index_Welcome button:hover {
    background-color: #ebcfa0;
    transition: 1s;
    opacity: 0.5;
  }

  .icone path:nth-child(1) {
    stroke-dasharray: 1500px;
    stroke-dashoffset: 1500px;
    animation: anim 3s ease forwards;

  }

  .icone path:nth-child(2) {
    stroke-dasharray: 2500px;
    stroke-dashoffset: 2500px;
    animation: anim 3s ease forwards;
  }

  #Formulaire {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #00000044;
    padding: 5vh;
    border: 3px solid rgba(255, 255, 255, 0.377);
    border-radius: 50px;
  }

  .Formu_Title {
    font-size: 30px;
    margin-bottom: 10%;
  }

  .Formu_Errors {
    border: 1px solid rgb(199, 199, 199);
    font-size: 20px;
    padding: 2vh;
    background-color: #ff101073;
    width: fit-content;
    border-radius: 10px;
    color: #fff;
  }

  .Formu_Succes {
    border: 1px solid rgb(199, 199, 199);
    padding: 2vh;
    border-radius: 10px;
    background-color: #10ff1073;
  }

  .Formu_D3 {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Formu_D1_D1 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-width: 300px;
  }

  .Formu_D1_D2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .Formu_D1_D3 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .Formu_D1_D4 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .Formu_D1_D5 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 20px;
  }

  .Formu_D1_D6 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 4vh;

  }

  .Formu_D1_D6_D1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #e17055;
    opacity: 1;
    transition: 1s;
  }

  .Formu_D1_D6_D1:hover {
    opacity: 0.8;
    transition: 1s;
  }

  .Back-nav2 {
    position: absolute;
    bottom: 0px;
    width: 98%;
    background-color: #424242;
    border-top: 2px solid white;
    height: 20px;
    padding: 10px;
    color: #ffffff;


  }

  .Back-nav2 span {
    color: #b66b16;
    margin-top: 4px;
  }


  @keyframes loader-ut {

    70% {
      opacity: 1;
    }

    80% {
      opacity: 0.5;
    }

    90% {
      opacity: 0.2;
    }

    100% {
      opacity: 0;
    }

  }

  @keyframes rotate {

    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }

  }

  @keyframes animate {

    0%,
    100% {
      stroke-dashoffset: 440;

    }

    50% {
      stroke-dashoffset: 0;

    }

    50.1% {
      stroke-dashoffset: 880;
    }

  }

  @keyframes anim {

    to {
      stroke-dashoffset: 0;
    }

  }

  @keyframes bg-animation {
    0% {
      background-position: left
    }

    50% {
      background-position: right
    }

    100% {
      background-position: left
    }
  }

  /* END_Other


  /* 
  
                                                END_BODY
  
  */


  /*RESPOSIVE*/

  @media only screen and (max-height:1000px) {}


  @media only screen and (max-width:800px) {

    body {
      background-image: linear-gradient(215deg, #000000, rgba(124, 124, 124, 0.616));
    }

    #Home {
      height: 100vh;
      background-position: center;
      flex-direction: column;
    }

    .Home_D2 {
      font-size: 1.2rem;
    }

    .Home_D4 {
      font-size: 0.8rem;
    }

    .Home_D5 {
      font-size: 0.8rem;
      text-align: center;
    }

    .Presen_D1_D {
      font-size: 0.8rem;
    }

    .Presen_D1_D2 {
      font-size: 0.6rem;
    }


    .nav {
      display: none;
      visibility: hidden;
    }

    .D_Presen {
      font-size: 12px;
      color: #f8c67c80;
      text-align: right;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 18px;
      position: absolute;
      bottom: 4%;
      left: 5%;
    }

    #Pro_Exp {
      height: 100%;
      display: flex;
      flex-direction: column;
      background-position: center;
      margin-top: 25vh;
    }

    .D_Pro {
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      padding: 2rem;

    }

    .Pro_C {
      display: flex;
      flex-direction: column;
      font-size: 10px;
    }

    .Pro_D2 {
      margin: 10px;
      padding: 8px;
      background-color: var(--pal4-background-color);
      max-width: 1000px;
      min-height: 100px;
      border: 1px solid rgb(255, 255, 255);
    }

    #Pro_Text2 {
      height: auto;
      text-align: center;
      font-size: 0.9rem;
      color: white;
    }

    .Pro_D3 {
      margin: 10px;
      padding: 8px;
      background-color: var(--pal4-background-color);
      max-width: 1000px;
      min-height: 150px;
      border: 1px solid rgb(255, 255, 255);
    }

    #Pro_Title_M {
      color: rgba(16, 194, 96, 0.432);
      font-size: 8px;
    }

    .Pro_D4_D3_D1 {
      font-size: 8px;
    }

    .Pro_D4 {
      margin: 10px;
      padding: 8px;
      background-color: var(--pal4-background-color);
      max-width: 1000px;
      min-height: 150px;
      border: 1px solid rgb(255, 255, 255);
    }

    #Pro_Title {
      font-size: 1rem;
      padding: 10px;
      text-align: center;
      color: #f8c67c80;
    }

    #Pro_Text {
      height: auto;
      text-align: left;
      font-size: 0.9rem;
      color: white;
    }

    #Pro_Table {
      padding: 5px;
      height: 80px;
    }

    #Pro_Table table {
      border-collapse: collapse;
    }

    #Pro_Table td {
      border: 2px solid var(--pal2-background-color);
      padding: 2px;
      text-align: left;
      font-size: 0.9rem;
    }

    #Pro_Title_M {
      margin-top: 10px;
      text-align: center;
      margin-bottom: 10px;
      font-size: 1.4rem;
    }

    .Back-nav {
      font-size: 10px;
    }


    .D_Profi {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(102, 51, 153, 0);
      padding: 0rem 0rem 0rem 0rem;
    }

    .Profi_D2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 400px;
    }

    #Profi_D2_D {
      padding: 10px;
      max-width: fit-content;
      color: #eee;
    }

    .Profi_D2_progressbar {
      background-color: #bdc2c4;
      color: white;
      width: 80px;
      height: 16px;
    }

    .nav_Small_Picture {
      position: absolute;
      margin-bottom: 40%;
      border: 0px solid white;
      width: 100%;
    }

    .nav_Small_Logo {
      z-index: 1;
    }

    .nav_Small {
      display: flex;
      justify-content: center;
      visibility: visible;
      width: 100%;
      position: fixed;
      z-index: 1;
      height: 2.8rem;
    }

    .D2_Profi {
      display: flex;
      flex-direction: column;
    }

    #Profi_D1_Pourcen {
      font-size: 10px;
    }

    #D2_ {
      font-size: 15px;
    }

    .Profi_D2_D_Text {
      font-size: 10px;
    }

    #Profi_progess {
      height: 16px;
      font-size: 10px;
    }

    #Profi_progess p {
      font-size: 10px;
      color: white;
      padding: 4px;
    }

    .Profi_D2_D1 {
      font-size: 10px;
    }

    .Profi_D1 div {
      padding: 0px;
    }

    .Profi_D1 {
      width: fit-content;
      font-size: 15px;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;

      color: white
    }

    #Profi_D1_Pourcen {
      color: #ffffff;
      font-size: 15px;
    }

    #Perso_Exp {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 25vh;
      margin-bottom: 20vh;
    }

    .D_Perso {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      padding: 1rem;
      max-width: 600px;

    }

    .Perso_D2 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

    }

    .Perso_Tableau {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .Perso_D2_D {
      width: 160px;
      height: 200px;
    }

    .Perso_C1 {
      background-color: rgba(0, 0, 0, 0.329);
      border: 2px solid rgb(155, 117, 68);
      border-radius: 10px;
      padding: 2px;
      margin: 1px;
      margin-bottom: 8px;
      text-align: center;
      color: white;
      font-size: 10px;
    }

    .Perso_D3 {
      margin-top: 5%;
      margin-bottom: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Perso_D3_D1 {
      margin-bottom: 20px;
      color: white;

    }

    .Perso_D3_D2 {
      background-color: var(--pal3-background-color);
      width: fit-content;
      color: white;
      padding: 10px;
      border: 1px solid black;
      font-size: 12px;
    }

    .Back-nav {
      width: 98%;
      background-color: #424242;
      border-top: 2px solid white;
      height: 20px;
      padding: 10px;
      color: #ffffff;


    }

    .Back-nav span {
      color: #b66b16;
      margin-top: 4px;
      font-size: 10px;
    }

    #Formulaire {
      position: absolute;
      top: 250px;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      display: flex;
      border-radius: 10px;
      background-color: #00000044;
      padding: 2vh;
      border: 2px solid white;
    }

    .Formu_Title {
      font-size: 15px;
      margin-bottom: 5%;
    }

    .Formu_Errors {
      border: 1px solid rgb(199, 199, 199);
      width: 200px;
      padding: 1vh;
      background-color: #ff1010e1;
      font-size: 10px;
      z-index: 1;
    }

    .Formu_Succes {
      border: 1px solid rgb(199, 199, 199);
      width: 200px;
      padding: 0.2vh;
      font-size: 10px;
      background-color: #10ff1073;
    }

    .Formu_D3 {
      position: absolute;
      bottom: 5vh;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .Formu_D1_D1 {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      min-width: 100px;
      font-size: 10px;
    }

    .Formu_D1_D2 {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      font-size: 10px;
    }

    .Formu_D1_D3 {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      font-size: 10px;
    }

    .Formu_D1_D4 {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      font-size: 10px;
    }

    .Formu_D1_D5 {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      min-height: 20px;
      font-size: 10px;
    }

    .Formu_D1_D6 {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      width: 80px;
      font-size: 10px;
    }

    .Formu_D1_D6_D1 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #eee;
      background-color: #e17055;
      opacity: 1;
      transition: 1s;
      font-size: 12px;
    }

    .Formu_D1_D6_D1:hover {
      opacity: 0.8;
      transition: 1s;
    }

    .Back-nav2 {
      position: absolute;
      bottom: 0px;
      width: 98%;
      background-color: #424242;
      border-top: 2px solid white;
      height: 15px;
      padding: 10px;
      color: #ffffff;
      font-size: 9px;

    }

    .Back-nav2 span {
      color: #b66b16;
      margin-top: 4px;
      font-size: 9px;
    }
  }